{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="breadcrumb-wrapper bg-cover" style="background-image: url('{% static 'assets/img/breadcrumb.jpg' %}');">
    <div class="container">
        <div class="page-heading">
            <div class="breadcrumb-sub-title">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Blog Standard</h1>
            </div>
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                <li>
                    <a href="{% url 'pages:home' %}">
                        <i class="fa-regular fa-house"></i>
                        Home
                    </a>
                </li>
                <li><i class="fa-solid fa-slash-forward"></i></li>
                <li>Blog Standard</li>
            </ul>
        </div>
    </div>
</div>

<section class="news-standard-section section-padding">
    <div class="container">
        <div class="row g-4">
            <div class="col-12 col-lg-8">
                {% for post in posts %}
                <div class="news-standard-items {% if forloop.last %}mb-0{% endif %}">
                    <div class="thumb">
                        <img src="{% if post.featured_image %}{{ post.featured_image.url }}{% else %}{% static 'assets/img/news/post-1.jpg' %}{% endif %}" alt="{{ post.featured_image_alt|default:post.title }}">
                    </div>
                    <div class="content">
                        <ul class="cat-list">
                            <li>
                                <a href="{{ post.get_absolute_url }}">{% if post.category %}{{ post.category.title|upper }}{% else %}BLOG{% endif %}</a>
                            </li>
                            <li>
                                <span>{{ post.published_at|date:"d F Y" }}</span>
                            </li>
                        </ul>
                        <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                        <a href="{{ post.get_absolute_url }}" class="theme-btn">
                            <span class="icon-1">
                                <img src="{% static 'assets/img/icon/10.svg' %}" alt="Arrow icon">
                            </span>
                            Read more
                            <span class="icon-2">
                                <img src="{% static 'assets/img/icon/11.svg' %}" alt="Arrow icon">
                            </span>
                        </a>
                    </div>
                </div>
                {% empty %}
                <div class="news-standard-items mb-0">
                    <div class="content">
                        <h3>No blog posts published yet</h3>
                    </div>
                </div>
                {% endfor %}
                <div class="page-nav-wrap pt-5">
                    {% include "includes/pagination.html" %}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="main-sidebar sticky-style">
                    <div class="single-sidebar-widget">
                        <div class="wid-title">
                            <h4>Categories</h4>
                        </div>
                        <div class="news-widget-categories">
                            <ul>
                                {% for category in categories %}
                                <li><a href="#">{{ category.title }}</a> <span>({{ category.posts.count }})</span></li>
                                {% empty %}
                                <li><a href="#">General</a> <span>(0)</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="single-sidebar-widget">
                        <div class="wid-title">
                            <h3>Recent Post</h3>
                        </div>
                        <div class="recent-post-area">
                            {% for recent in recent_posts %}
                            <div class="recent-items">
                                <div class="recent-thumb">
                                    <img src="{% if recent.featured_image %}{{ recent.featured_image.url }}{% else %}{% static 'assets/img/news/pp3.jpg' %}{% endif %}" alt="{{ recent.featured_image_alt|default:recent.title }}">
                                </div>
                                <div class="recent-content">
                                    <h6>
                                        <a href="{{ recent.get_absolute_url }}">
                                            {{ recent.title|truncatechars:45 }}
                                        </a>
                                    </h6>
                                    <ul>
                                        <li>{{ recent.published_at|date:"F d, Y" }}</li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="single-sidebar-widget">
                        <div class="wid-title">
                            <h4>Tag Cloud</h4>
                        </div>
                        <div class="news-widget-categories">
                            <div class="tagcloud">
                                {% for tag in tags %}
                                <a href="#">{{ tag.name }}</a>
                                {% empty %}
                                <a href="#">Business</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section fix section-padding pt-0 dark-bg-style black-bg">
    <div class="container">
        <div class="cta-wrapper bg-cover" style="background-image: url('{% static 'assets/img/cta/cta-bg.jpg' %}');">
            <h2 class="wow fadeInUp" data-wow-delay=".3s">Have an idea in your mind?Let’s make something great together</h2>
            <a href="{% url 'cms:page-detail' slug='contact' %}" class="theme-btn border-white wow fadeInUp" data-wow-delay=".5s">
                <span class="icon-1">
                    <img src="{% static 'assets/img/icon/10.svg' %}" alt="Arrow icon">
                </span>
                get in touch
                <span class="icon-2">
                    <img src="{% static 'assets/img/icon/11.svg' %}" alt="Arrow icon">
                </span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
