{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="breadcrumb-wrapper bg-cover" style="background-image: url('{% static 'assets/img/breadcrumb.jpg' %}');">
    <div class="container">
        <div class="page-heading">
            <div class="breadcrumb-sub-title">
                <h1 class="wow fadeInUp" data-wow-delay=".3s">Contact Us</h1>
            </div>
            <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                <li>
                    <a href="{% url 'pages:home' %}">
                        <i class="fa-regular fa-house"></i>
                        Home
                    </a>
                </li>
                <li><i class="fa-solid fa-slash-forward"></i></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>

<section class="contact-info-section fix section-padding">
    <div class="container">
        <div class="row g-4">
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="content">
                        <h3>Office Address</h3>
                        <p>{{ site_settings.address|default:'Rohtak, Haryana , India' }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="content">
                        <h3>Email Us Anytime:</h3>
                        <p><a href="mailto:{{ site_settings.contact_email|default:'consumeit.services@gmail.com' }}">{{ site_settings.contact_email|default:'consumeit.services@gmail.com' }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-section fix section-padding pt-0">
    <div class="container">
        <div class="contact-wrapper">
            <div class="row g-4">
                <div class="col-lg-6 wow fadeInUp">
                    <div class="map-items">
                        <div class="googpemap">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55892.74737123214!2d76.5751354171449!3d28.88952978427189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d85a5414251a5%3A0x9f011cc2777a4544!2sRohtak%2C%20Haryana!5e0!3m2!1sen!2sin!4v1758347754126!5m2!1sen!2sin"
                                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-content">
                        <h3 class="wow fadeInUp">Ready to Get Started?</h3>
                        <form
                            action="https://docs.google.com/forms/d/e/1FAIpQLSeXUsr3gL8vuLO3BywFjcKf1bv2zEcTUzVIOi20ddZpXDLlqA/formResponse"
                            method="POST" target="_blank" class="contact-form-items">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="form-clt">
                                        <span>First name*</span>
                                        <input type="text" name="entry.829243146" placeholder="Enter Your First Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-clt">
                                        <span>Last name*</span>
                                        <input type="text" name="entry.694283744" placeholder="Enter Your Last Name" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-clt">
                                        <span>Phone Number*</span>
                                        <input type="text" name="entry.886178287" placeholder="Enter Your Phone Number" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-clt">
                                        <span>Email address*</span>
                                        <input type="email" name="entry.614083670" placeholder="Enter Your Email address" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-clt">
                                        <span>Message*</span>
                                        <textarea name="entry.1785648272" placeholder="Write your message......" required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <button type="submit" class="theme-btn">Submit request</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta-section fix section-padding pt-0 dark-bg-style black-bg">
    <div class="container">
        <div class="cta-wrapper bg-cover" style="background-image: url('{% static 'assets/img/cta/cta-bg.jpg' %}');">
            <h2 class="wow fadeInUp" data-wow-delay=".3s">Have an idea in your mind?Let’s make something great together</h2>
            <a href="{% url 'cms:page-detail' slug='contact' %}" class="theme-btn border-white wow fadeInUp" data-wow-delay=".5s">
                <span class="icon-1">
                    <img src="{% static 'assets/img/icon/10.svg' %}" alt="Arrow icon">
                </span>
                get in touch
                <span class="icon-2">
                    <img src="{% static 'assets/img/icon/11.svg' %}" alt="Arrow icon">
                </span>
            </a>
        </div>
    </div>
</section>
{% endblock %}
